{% extends base_template %}
{% load static %}
{% load i18n %}

{% block title %}{% translate "teste" %}{% endblock %}

{% block content %}
<div class="jumbotron">
    <!-- <h1 class="display-4 d-flex justify-content-center">{% translate "Olá" %} {{mundo}}</h1> -->
    <!-- <h1>turl {{ turl }}</h1>
    <h1>actual_host {{ actual_host }}</h1>
    <h1>tenant_name {{ tenant_name }}</h1>
    <h1>Domain.domain {{ domain.domain }}</h1>
    <h1>Domain {{ domain }}</h1>
    <h1>D {{ d }}</h1> -->
    <h1>{{ fruta }}</h1>
    <h1>{% translate "Telefone" %}</h1>
    <hr class="my-4">
</div>

{% endblock content %}