{% extends base_template %}
{% load static %}
{% load i18n %}

{% block title %}{% translate "Login" %}{% endblock %}

{% block css %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"/>
<link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/style.css' %}"/>
<!-- Mask Scripts -->
<script type="text/javascript" src="{% static 'js/masks/jquery-3.3.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/masks/jquery.mask.min.js' %}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% endblock css %}

{% block content %}
  <!--inicio login-->
  <section>
    <div class="container-fluid">

        <div class="topLogin">
            <img class="gif" src="{% static 'img/logoGif.gif' %}" alt="NewGen">
            <h1>{% translate "Sistema de Gerenciamento de Coworking" %}</h1>    
        </div>
        
        <div id="BodyLogin">
            <div id="title">LOGIN</div>
            <form method="post" action="{% url 'loginSystem' %}">
            {% csrf_token %}
           
            <div class="form-group row">
                <label class="control-label col-sm-3" for="id_username">{% translate "CPF/CNPJ" %}:</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="id_username" autofocus autocomplete="username" 
                    required name="username">
                </div>
            </div>
            <!-- maxlength="18" inputmode="numeric" -->
            <div class="form-group row">
                <label class="control-label col-sm-3" for="id_password">{% translate "Senha" %}:</label>
                <div class="col-sm-8">
                    <input type="password" class="form-control" autocomplete="current-password" required 
                    id="id_password" name="password">
                </div>
            </div>
           
                <input type="submit" value="Entrar" class="btn {{ button_color  }}">

                <p><a href="escolherCadastro">{% translate "Primeiro Acesso" %}</a></p>
                <p><a href="#">{% translate "Esqueceu a senha?" %}</a></p>
            </form>

            {% for message in messages %}

                    <div class="alert alert-block alert-danger">
                        {{ message }}
                    </div>
            {% endfor %}

            {% if mensagem_de_erro %}
            <div class="alert alert-block alert-danger">
                {{ mensagem_de_erro }}
            </div>
            {% endif %}

            </div>
    
        </div>
  </section>
{% endblock content %}

{% block js %}
   <!-- Inicio Adaptive mask -->
   <script>


    $(document).ready(function(){
			
			$("#id_username").mask("000.000.000-0099")
			
			$("#id_username").change(function(event){
				if ($(this).val().length > 14){
					$("#id_username").mask("00.000.000/0000-99")
				}else{
					$("#id_username").mask("000.000.000-0099")
				}
			})
		})
   </script>
   <!-- Fim Adaptive mask -->
{% endblock js %}