{% extends 'gere/base.html' %}
{% load static %}
{% load i18n %}

{% block title %}{% translate "Formulário de pagamento" %}{% endblock %}

{% block css %}
{% endblock css %}

{% block content %}
<br>
<div class="row">
    <div class="col-md-3">
        <div class="card-body card">
            <a href="#" class="btn-warning btn"> &#8592; Back to profile</a>
            <hr>
            <h3 style="text-align: center">Account Settings</h3>
            <hr>
            <img src="" class="profile-pic">
        </div>
    </div>

    <div class="col-md-9">
        <div class="card-body card">
            <form action="" method="POST">
                <input type="submit" class="btn-primary brn" name="Update Information">
            </form>
        </div>
    </div>
</div>
{% endblock %}