{% extends base_template %}
{% load static %}
{% load i18n %}

{% block title %}{% translate "Menu Relatórios" %}{% endblock %}
<!-- Bruna - 20-10 -->
{% block css %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"/>
<link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
{% endblock css %}

{% block content %}
<section style="margin:30px; height:250px; padding-bottom: 30px" >
    <div class="list-group">
        <a href="reservas_geral" class="list-group-item list-group-item-action">{% translate 'Reservas'%}</a>
        <a href="alugueis" class="list-group-item list-group-item-action">{% translate 'Aluguel'%}</a>
        <a href="pagamentos" class="list-group-item list-group-item-action">{% translate 'Pagamento'%}</a>
      </div>
    
</section>
{% endblock content %}

{% block js %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% endblock js %}