{% extends 'gere/template1/base_admin.html' %}
{% load static %}
{% load i18n %}

{% block title %}{% translate "Menu Administrador" %}{% endblock %}

{% block content %}
  <!-- inicio Escolha do Cadastro -->
 
    <iframe width="100%" height="600px" src="https://app.powerbi.com/view?r=eyJrIjoiMGRiZWMzNjUtYmNhYy00Y2ZlLTg2MDctYmFhN2EwMTJhMzM1IiwidCI6IjkxODA4YmQwLTVjNmEtNDlkZi05M2RmLWZiNmE3NDBmNTk0ZCIsImMiOjh9" 
    frameborder="0" allowFullScreen="true"></iframe>
    

  <!-- Fim escolha do cadastro -->
{% endblock content %}
