<div class="container d-flex align-items-center">

    <div class="logo me-auto">
        <h1><a href="{% host_url 'menuAdmin' host 'custom_host' domain %}">{% translate "Coworking" %}</a></h1>
    </div>

    <nav id="navbar" class="navbar">
        <ul>
            <li><a class="nav-link scrollto" href="relatorios/reservas">{% translate "Acompanhamento de Reservas" %}</a>
            </li>
            <li><a class="nav-link scrollto" href="{% host_url 'registrarFuncionario' host 'custom_host' domain %}">
                {% translate "Cadastro de Funcionários" %}</a></li>
            <li class="dropdown"><a href="#"><span>{% translate "Configurações" %}</span> <i
                        class="bi bi-chevron-down"></i></a>
                <ul>
                    <li><a href="listar_espacos">{% translate "Salas" %}</a></li>
                    <li><a href="#">{% translate "Recusos" %}</a></li>
                    <li class="dropdown"><a href="#">{% translate "Customização" %}<i
                                class="bi bi-chevron-down"></i></a>
                        <ul>
                            <li><a href="custom_cowork_info">{% translate 'Informações Site' %}</a></li>
                            <li><a href="custom_index">{% translate 'Página Principal' %}</a></li>
                            <li><a href="custom_personal_info">{% translate 'Informações Pessoais' %}</a></li>
                        </ul>
                    </li>
                </ul>
            </li>

            {% if user.is_authenticated %}

            </li>
            <li class="dropdown">
                <a href="{% host_url 'loginSystem' host 'custom_host' domain %}"
                    class="btn-get-started animate__animated animate__fadeInUp scrollto" id="loggedAs">Olá {{
                    user.first_name }}</a>
                <ul>
                    <li><a href="{% host_url 'index' host 'custom_host' domain %}">{% translate "Ir para Site" %}</a>
                    </li>
                    <li><a href="/logout" class="btn-get-started animate__animated animate__fadeInUp scrollto">{%
                            translate "Deslogar" %}</a></li>
                </ul>
            </li>

            {% else %}
            <li>
                <a href="{% host_url 'loginSystem' host 'custom_host' domain %}"
                    class="btn-get-started animate__animated animate__fadeInUp scrollto">{% translate "Login" %}</a>
            </li>

            {% endif %}
            </li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>


    </nav><!-- .navbar -->

</div>