{% extends 'gere/template1/base.html' %}
{% load static %}
{% load i18n %}

{% block title %}{% translate "Listar Reservas" %}{% endblock %}

{% block content %}

<!--Inicio agendamento-->
<section class="agendamento">
  <div class="jumbotron">
    <h1 class="display-4">{% translate "Olá" %}, {{ user.first_name }}</h1>
    <hr class="my-4">
  </div>
  <table class="table table-sm">
    <h1 class="title-table">{% translate "Suas próximas reservas" %}</h1>
    <thead>
      <tr>
        <th scope="col">{% translate "DATA" %}</th>
        <th scope="col">{% translate "HORÁRIO" %}</th>
        <th scope="col">{% translate "ESPAÇO" %}</th>
        <th scope="col">{% translate "RESPONSÁVEL" %}</th>
      </tr>
    </thead>
    <tbody>
    {% for item in reservas %}
      <tr> 
        <td>{{ item.data_reserva }}</td>
        <td>{{ item.hora_entrada }}</td>
        <td>{{ item.id_espaco.id_tipo_espaco.nome }}</td>
        <td>{{ item.id_cliente.nome }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</section>

<!--Fim agendamento-->
{% endblock content %}
