{% extends 'cria/base.html' %}
{% load static %}
{% load i18n %}
{% block title %}{% translate "NewGen" %}{% endblock %}


{% block content %}
  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container" data-aos="zoom-out" data-aos-delay="100">
      <h1>Bem vindo à <span>NewGen</span></h1>
      <h2>Somos um sistema de gerencimento de coworking, que vai ajudar você e seu negócio a prosperarem neste ramo!</h2>
      <div class="d-flex">
        <a href="#about" class="btn-get-started scrollto">Saiba mais</a>
      </div>
    </div>
  </section><!-- End Hero -->
  <main id="main">
    <!-- ======= About Section ======= -->
    <section id="about" class="about section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Sobre Nós</h2>
        </div>

        <div class="row">
          <div class="col-lg-6" data-aos="fade-right" data-aos-delay="100">
            <img src="{% static 'img/logoGif.gif' %}" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 content d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="100">
            <h3>Nossa empresa disponiliza um sistema com a sua identidade, com seus valores e princícipos. Tornamos a tarefa de administrar um coworking muito mais acessível para você.</h3>
            <ul>
              <li>
                <i class="bi bi-upc-scan"></i>
                <div>
                  <h5>Validação de Entrada</h5>
                  <p>Faça a validação de entrada do seu cliente com sistema de QR Code.</p>
                </div>
              </li>
              <li>
                <i class="bi bi-calendar3"></i>
                <div>
                  <h5>Agendamento On-line</h5>
                  <p>Tenha o controle de sua agenda da palma da mão!</p>
                </div>
              </li>
            </ul>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Serviços</h2>
          <h3>Veja nossos <span>Serviços</span></h3>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-chat-left-dots"></i></div>
              <h4><a>Confirmação de Agendamento</a></h4>
              <p>O sistema envia um aviso para que seu cliente não esqueça de nenhum agendamento</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-clipboard-data"></i></div>
              <h4><a>Relatórios Analíticos</a></h4>
              <p>Obtenha as métricas do seu coworking e desenvolva maior conhecimento sobre seu público.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-door-open"></i></div>
              <h4><a>Gerenciamento de Salas</a></h4>
              <p>Informe as salas disponíveis e os recursos necessárias.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-box-seam"></i></div>
              <h4><a>Gerenciamento de Estoque</a></h4>
              <p>Tenha o controle de entrada e saíde de seus recursos e materiais.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-brush"></i></div>
              <h4><a>Sistema White Label</a></h4>
              <p>Customize nosso sistema com sua identidade visual.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-calendar2-week"></i></div>
              <h4><a>Agendamento Online</a></h4>
              <p>Seu cliente tem a facilidade de marcar reuniões e encontros para toda a equipe.</p>
            </div>
          </div>

        </div>
      </div>
    </section><!-- End Services Section -->

    <!-- ======= Pricing Section ======= -->
    <section id="pricing" class="pricing">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Preços</h2>
          <h3>Veja nossos <span>Preços</span></h3>
          <p>Temos várias opções de assinatura para você.</p>
        </div>

        <div class="row">

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="box">
              <h3>Plano Básico</h3>
              <h4><sup>R$</sup>250,00<span> / mês</span></h4>
              <ul>
                <li>Gestão de clientes e funcionários</li>
                <li>Gestão de saças e equipamentos</li>
                <li>Agendamento On-line</li>
                <li>Checkin e Checkout via QR-Code</li>
                <li class="na">controle de Estoque</li>
                <li class="na">Fila de Espera</li>
                <li class="na">Pacote de Horas</li>
              </ul>
              <div class="btn-wrap">
                <a href="#" class="btn-buy">Assine Agora</a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mt-4 mt-md-0" data-aos="fade-up" data-aos-delay="200">
            <div class="box featured">
              <h3>Plano Pro</h3>
              <h4><sup>R$</sup>350,00<span> / mês</span></h4>
              <ul>
                <li>Gestão de clientes e funcionários</li>
                <li>Gestão de saças e equipamentos</li>
                <li>Agendamento On-line</li>
                <li>Checkin e Checkout via QR-Code</li>
                <li>Controle de Estoque</li>
                <li class="na">Fila de Espera</li>
                <li class="na">Pacote de Horas</li>
              </ul>
              <div class="btn-wrap">
                <a href="#" class="btn-buy">Assine Agora</a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="300">
            <div class="box">
              <h3>Plano Prime</h3>
              <h4><sup>R$</sup>450,00<span> / mês</span></h4>
              <ul>
                li>Gestão de clientes e funcionários</li>
                <li>Gestão de saças e equipamentos</li>
                <li>Agendamento On-line</li>
                <li>Checkin e Checkout via QR-Code</li>
                <li>controle de Estoque</li>
                <li>Fila de Espera</li>
                <li>Pacote de Horas</li>
              </ul>
              <div class="btn-wrap">
                <a href="#" class="btn-buy">Buy Now</a>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Pricing Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Contato</h2>
          <h3><span>Entre em contato</span></h3>
          <p>Entre em contato para saber mais!</p>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-6">
            <div class="info-box mb-4">
              <i class="bx bx-map"></i>
              <h3>Endereço</h3>
              <p>R. Pedro Vicente, 625 - Canindé, São Paulo - SP, 01109-010/p>
            </div>
          </div>

          <div class="col-lg-6 col-md-6">
            <div class="info-box  mb-4">
              <i class="bx bx-envelope"></i>
              <h3>Email</h3>
              <p>newgenoficial@gmail.com</p>
            </div>
          </div>

        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">

          <div class="col-lg-12">
            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="row">
                <div class="col form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Seu nome" required>
                </div>
                <div class="col form-group">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Seu Email" required>
                </div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Assunto" required>
              </div>
              <div class="form-group">
                <textarea class="form-control" name="message" rows="5" placeholder="Mensagem" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Carregando</div>
                <div class="error-message"></div>
                <div class="sent-message">Sua mensagem foi enviada. Obrigada!</div>
              </div>
              <div class="text-center"><button type="submit">Enviar</button></div>
            </form>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  {% endblock content %}
  