{% extends 'cria/base.html' %}
{% load static %}
{% load hosts %}
{% load i18n %}

{% block title %}{% translate "Login" %}{% endblock %}

{% load crispy_forms_tags %}

{% block css %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"/>
<link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/style.css' %}"/>
{% endblock css %}

{% block content %}
<section>
    <div class="container-fluid">

        <div class="topLogin">
            <h1>{% translate "Sistema de Gerenciamento de Coworking" %}</h1>    
        </div>
        
        <div id="BodyLogin">
            <div id="title">{% translate "LOGIN" %}</div>
            <form method="post" action="{% host_url 'loginNewgen' host 'newgen' %}">
            {% csrf_token %}
           
            <div class="form-group row">
                <label class="control-label col-sm-3" for="id_username">{% translate "CPF/CNPJ" %}:</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="id_username" autofocus autocomplete="username" 
                    required name="username">
                </div>
            </div>
            
            <div class="form-group row">
                <label class="control-label col-sm-3" for="id_password">{% translate "Senha" %}:</label>
                <div class="col-sm-8">
                    <input type="password" class="form-control" autocomplete="current-password" required 
                    id="id_password" name="password">
                </div>
            </div>
           
                <input type="submit" value="Entrar" class="btn {{ button_color  }}">

                <p><a href="{% host_url 'registrarAdmin' host 'newgen' %}">{% translate "Primeiro Acesso" %}</a></p>
                <p><a href="{% host_url 'reset_password' host 'newgen' %}">{% translate "Esqueceu a senha?" %}</a></p>
            </form>

            {% for message in messages %}

                    <div class="alert alert-block alert-danger">
                        {{ message }}
                    </div>
            {% endfor %}

            {% if mensagem_de_erro %}
            <div class="alert alert-block alert-danger">
                {{ mensagem_de_erro }}
            </div>
            {% endif %}

            </div>
    
        </div>
  </section>
  <!--fim quadrado de login-->
{% endblock content %}

{% block js %}

<!-- Mask JS Files -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.js"></script>

<!-- Cep validator -->
<script src="{% static 'js/cep_verifier.js' %}"></script>

{% endblock js %}
