{% extends 'gere/template1/base.html' %}
{% load static %}
{% load i18n %}

{% block title %}{% translate "Cadastro de usuário" %}{% endblock %}

{% load crispy_forms_tags %}

{% block css %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"/>
<link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/style.css' %}"/>
{% endblock css %}

{% block content %}
<section>
  <div class="container-fluid">

      <div class="topRegister">
          <h1>{% translate "Cadastro" %}</h1>    
      </div>
      <!-- Inicio de radio button para seleção de tipo de cliente _ Bruna-->
      <div class="radio" id="cadastro" name="check">
          <label>{% translate "Pessoa Física" %}
           <input type="radio" id="pessoaFisica" name="myradio" value="pessoaFisica" />
          </label>
          <label>{% translate "Pessoa jurídica " %}
           <input type="radio" id="pessoaJuridica" name="myradio" value="pessoaJuridica" />
          </label>
      </div>
    
      <div id="BodyRegister">

          <form method="POST" class="form-group" name="formPessoaFisica">
              {% csrf_token %}
              {{ pessoaForm|crispy }}
              
              <input type="hidden" class="form-selecionado" name="form-selecionado" value="{{ selecionado }}">

              <button type="submit" id="enviar_form_pessoa" class="btn btn-primary">{% translate "Registrar" %}</button>
              
          </form>

          <form method="POST" class="form-group" name="formPessoaJuridica">
              {% csrf_token %}
              {{ empresaForm|crispy }}

              <input type="hidden" class="form-selecionado" name="form-selecionado" value="{{ selecionado }}">

              <button type="submit" id="enviar_form_empresa" class="btn btn-primary">{% translate "Registrar" %}</button>

            </form>
      </div>
  </div>
</section>

{% endblock content %}

{% block js %}

<!-- Mask JS Files -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.js"></script>

<!-- Pessoa fisica/juridica selector -->
<script>
  function inicializador(){
      var formSelecionado = document.getElementsByClassName("form-selecionado")[0].value
      radioPessoaFisica = document.getElementById("pessoaFisica");
      radioPessoaJuridica = document.getElementById("pessoaJuridica");
      
      if (formSelecionado == "pessoaFisica"){
        $("[name=formPessoaFisica]").show();
        $("[name=formPessoaJuridica]").hide();
        radioPessoaFisica.checked = true;
      }
      else{
        $("[name=formPessoaFisica]").hide();
        $("[name=formPessoaJuridica]").show();
        radioPessoaJuridica.checked = true;
      }
  }
  window.onload = inicializador();
   function ChangeToReg()
  {
  location.href="regUsers.html"
  }

  $('#cadastro input[type="radio"]').change(function() {
      let name = this.value;
  
  $('[data-label=' + name + ']').css('display', this.checked ? '' : 'none');
  
  });
  
  $("input[type=radio]").on("change", function() {
  if ($(this).val() == "pessoaFisica") {
      $("[name=formPessoaFisica]").show();
      $("[name=formPessoaJuridica]").hide();
      document.getElementsByClassName("form-selecionado")[0].value = "pessoaFisica";
      document.getElementsByClassName("form-selecionado")[1].value = "pessoaFisica";
  } else if ($(this).val() == "pessoaJuridica") {
      $("[name=formPessoaJuridica]").show();
      $("[name=formPessoaFisica]").hide();
      document.getElementsByClassName("form-selecionado")[0].value = "pessoaJuridica";
      document.getElementsByClassName("form-selecionado")[1].value = "pessoaJuridica";
  }
  
  });
</script>

<!-- Cep validator -->
<script src="{% static 'js/cep_verifier.js' %}"></script>

{% endblock js %}
