{% load static %}
{% load hosts %}
{% load i18n %}

{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resetar Senha</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"/>
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
</head>
<body>
    <div class="headerResetSenha">
        <h1>Altere sua senha</h1>
    </div>
    <div class="panel-body"></div>
        {% if validlink %}
            <form method="post" class="form">
                <fieldset class="fieldResetSenha">
                    <div class="form-group">
                        {% csrf_token %}
                         {{ form.as_p }}
                    <button type="submit" class="btn btn-primary">Alterar Senha</button>
                    </div>  
                </fieldset>
            </form>
        {% else %}
            <p class="conteudoSenha">O link de resetar a senha está incorreto, possivelmente porque ele já foi utulizado.
                Por favor, solicite um novo link para resetar sua senha.
            </p>
        {% endif %}
    </div>
  

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.js"></script>

        <!-- Cep validator -->
    <script src="{% static 'js/cep_verifier.js' %}"></script>
</body>
</html>