{% extends base_template %}
{% load static %}
{% load i18n %}
{% load mathfilters %}
{% load crispy_forms_tags %}

{% block title %}{% translate "Formulário de pagamento" %}{% endblock %}

{% block css %}

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<style>
img {
    height: 200px;
    width: 200px;
    margin: 10px;
}
brn-group {
    overflow-y: scroll;
}
input.invalid {
  background-color: #ffdddd;
}
[type='radio'] {
display: none; 
}
select#id_tipo_documento{
    height: auto !important;
}
select#id_parcelas{
    height: auto !important;
}

select#id_banco{
    height: auto !important;
}
/* select#parcelas{
    height: auto !important;
} */
</style>
{% endblock css %}

{% block content %}
<section>
  <div class="container">
    <div class="row form-group">
          <div class="col-xs-12">
              <ul class="nav nav-pills nav-justified thumbnail setup-panel">
                  <li class="active"><a href="#step-1">
                      <h4 class="list-group-item-heading">{% translate "Passo 1" %}</h4>
                      <p class="list-group-item-text">{% translate "Escolher modo de agendamento" %}</p>
                  </a></li>
                  <li class="disabled"><a href="#step-2">
                      <h4 class="list-group-item-heading">{% translate "Passo 2" %}</h4>
                      <p class="list-group-item-text">{% translate "Informações pessoais" %}</p>
                  </a></li>
                  <li class="disabled"><a href="#step-3">
                      <h4 class="list-group-item-heading">{% translate "Passo 3" %}</h4>
                      <p class="list-group-item-text">{% translate "Informações bancárias" %}</p>
                  </a></li>
              </ul>
          </div>
    </div>
  
  
  <form method="POST" class="form-group" name="formPagamento" id="form-checkout">
          {% csrf_token %}
      <div class="row setup-content" id="step-1">
          <input type="hidden" name="valor_a_pagar" id="valor_a_pagar" value="{{valor_a_pagar}}"> 
          <div class="col-xs-12">
              <div class="col-md-12 well text-center">
                  <div class="btn-group btn-group-toggle" data-toggle="buttons">
                      <!-- <ul style="align-items: center; align-content: center; justify-content: center;"> -->
                      <ul class="d-flex align-items-center justify-content-center">
                          <div {% if reserva_desabilitada %}class='tooltip-test' 
                          title="{% translate 'Faltam menos de 96 horas para esta reserva começar, não é possível efetuar uma reserva.' %}"
                          {% endif %} style="list-style: none;">
                              <li {% if reserva_desabilitada %}disabled {% endif %} class="btn btn-light" onclick="handleClick(this);"
                              id="opcao_reserva">
                                  <input type="radio" name="options" autocomplete="off">
                                  <h3>{% translate "Reservar" %}</h3>
                                  <img src="https://icons.iconarchive.com/icons/google/noto-emoji-smileys/256/10024-thinking-face-icon.png"
                                      alt="" width="24" height="24" class="-avatar js-avatar-me">
                              </li>
                          </div>
                          <li class="btn btn-light active" id="opcao_aluga" onclick="handleClick(this);">
                              <input type="radio" name="options" autocomplete="off" checked>
                              <h3>{% translate "Alugar" %}</h3>
                              <img src="https://images.emojiterra.com/twitter/512px/1f5d3.png" alt="" width="24" height="24"
                                  class="-avatar js-avatar-me">
                          </li>
                      </ul>
                      <div id='reserva_info' style="text-align: center; justify-content: center; align-items: center;" class="hide">
                          <!-- <h1> STEP 1</h1> -->
                          <p><strong>{% translate "Reservar:" %}</strong> {% translate "Pagar uma taxa pequena para já reservar o espaço desejado e depois pagar o valor integral quando tiver o dinheiro." %}</p>
                          <small>{% translate "Atenção: Depois de 3 dias se o valor integral não for pago, o valor é perdido e o espaço se torna disponível para outros clientes." %}</small>
                      </div>
                      <div id='aluguel_info' style="text-align: center; justify-content: center; align-items: center;" class="">
                          <!-- <h1> STEP 1</h1> -->
                          <p><strong>{% translate "Alugar:" %}</strong> {% translate "Pagar o valor integral da reserva e já garantir o seu espaço agora." %}</p>
                      </div>
                      <script>
                          // var currentValue = 0;
                          function handleClick(myRadio) {
                              // alert('Old value: ' + currentValue);
                              // alert('New value: ' + myRadio.id);
                              console.log('Teste');
                              console.log(myRadio.id);
                              if (myRadio.id == 'opcao_reserva'){
                                  document.getElementById('aluguel_info').classList.add('hide');
                                  document.getElementById('reserva_info').classList.remove('hide');
                                  hidden_input = document.getElementById('valor_a_pagar');
                                  if (hidden_input.value == {{valor_a_pagar}})
                                  hidden_input.value = (hidden_input.value * {{taxa_reserva}});
                              }
                              else{
                                  document.getElementById('reserva_info').classList.add('hide');
                                  document.getElementById('aluguel_info').classList.remove('hide');
                                  hidden_input = document.getElementById('valor_a_pagar');
                                  if (hidden_input.value != {{valor_a_pagar}})
                                  hidden_input.value = (hidden_input.value / {{taxa_reserva}});
                              }
                              // currentValue = myRadio.value;
                          }
  
                      </script>
                      <hr>
                      <div>
                          <button id="activate-step-2" class="btn {{ button_color }} btn-lg">{% translate "Avançar"%}</button>
                      </div>
      
                  </div>
              </div>
          </div>
      </div>
  
      <div class="row setup-content" id="step-2">
          <div class="col-xs-12">
              <div class="col-md-12 well">
                  <div class="form-row">
                      <div class="form-group col-12">
                          {{ form.nome_cartao|as_crispy_field }}
                      </div>
                  </div>
                  <div class="form-row">
                      <div class="form-group col-12">
                          {{ form.email|as_crispy_field }}
                      </div>
                  </div>
                  <div class="form-row">
                      <div class="form-group col-6">
                          {{ form.tipo_documento|as_crispy_field }}
                      </div>
                      <div class="form-group col-6">
                          {{ form.numero_documento|as_crispy_field }}
                      </div>
                  </div>
                  <hr>
                  <div>
                      <button id="activate-step-3" class="btn {{ button_color }} btn-lg">{% translate "Avançar"%}</button>
                  </div>
              </div>
          </div>
      </div>
  
  
      
      <div class="row setup-content" id="step-3">
          <div class="col-xs-12">
              <div class="col-md-12 well">
                  <div class="form-row">
                      <div class="form-group col-12">
                          {{ form.numero_cartao|as_crispy_field }}
                      </div>
                  </div>
                  <div class="form-row">
                      <div class="form-group col-12">
                          {{ form.parcelas|as_crispy_field }}
                      </div>
                  </div>
                  <div class="form-row">
                      <div class="form-group col-12">
                          {{ form.banco|as_crispy_field }}
                      </div>
                  </div>
                  <div class="form-row d-flex align-items-center">
                      <div class="form-group col-7">
                          {{ form.codigo_seguranca|as_crispy_field }}
                      </div>
                      <div class="form-group col-2 tooltip-test" title="{% translate 'Mês de vencimento' %}">
                          {{ form.mes_vencimento|as_crispy_field }}
                      </div>
                      <strong style="font-size: 20px;">/</strong>
                      <div class="form-group col-2 tooltip-test" title="{% translate 'Ano de vencimento' %}">
                          {{ form.ano_vencimento|as_crispy_field }}
                      </div>
                  </div>
              </div>
          </div>
      </div>

      <input type="hidden" id="mensagem_de_erro" name="mensagem_de_erro" value="none" onchange="mostrar_mensagem()">
      <input type="hidden" id="id_reserva" name="id_reserva" value="{{ id_reserva }}">
      <div class="row">
        <div>
          <button type="submit" id="form-checkout__submit" class="btn {{ button_color  }} btn-lg hide">{% translate "Pagar" %}</button>
        </div>
      </div>
      <div class="alert alert-danger alert-dismissible fade show" id="alerta_de_erro" style="display: none;">
      <strong>{% translate "Erro!" %}</strong>
      <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
      </div>
      <!-- <input type="submit" value="Pagar"> -->
      <progress value="0" class="progress-bar">Carregando...</progress>


  </form>
</section>
{% endblock content %}

{% block js %}




<script src="https://sdk.mercadopago.com/js/v2"></script>
<script>
    const mp = new MercadoPago('TEST-3857db53-06c2-4bfc-a9a5-bec2dd9d1579');
    function mostrar_mensagem(){
        let element = document.getElementById(`mensagem_de_erro`);
        let mensagem = element.value;
        if (mensagem == "" || mensagem == "none"){
            let caixa_alerta_erro = document.getElementById(`alerta_de_erro`);
            caixa_alerta_erro.style.display = 'block';          // Show
        }
        else
        caixa_alerta_erro.style.display = 'none';    
    }
</script>

<!-- Mask JS Files -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.js"></script>

<!-- Cep validator -->
<script src="{% static 'js/cep_verifier.js' %}"></script>

<script>
// Step #3
const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
// alert(csrftoken)
let cardForm = mp.cardForm({
    amount: "{{valor_a_pagar}}",  // valor da compra
    autoMount: true,
    form: {
      id: "form-checkout",
      cardholderName: {
        id: "id_nome_cartao",
        placeholder: "Titular do cartão",
      },
      cardholderEmail: {
        id: "id_email",
        placeholder: "E-mail",
      },
      cardNumber: {
        id: "id_numero_cartao",
        placeholder: "Número do cartão",
      },
      cardExpirationMonth: {
        id: "id_mes_vencimento",
        placeholder: "Mês de vencimento",
      },
      cardExpirationYear: {
        id: "id_ano_vencimento",
        placeholder: "Ano de vencimento",
      },
      securityCode: {
        id: "id_codigo_seguranca",
        placeholder: "Código de segurança",
      },
      installments: {
        id: "id_parcelas",
        placeholder: "Parcelas",
      },
      identificationType: {
        id: "id_tipo_documento",
        placeholder: "Tipo de documento",
      },
      identificationNumber: {
        id: "id_numero_documento",
        placeholder: "Número do documento",
      },
      issuer: {
        id: "id_banco",
        placeholder: "Banco emissor",
      },
    },
    callbacks: {
      onFormMounted: error => {
        if (error) return console.warn("Form Mounted handling error: ", error);
        console.log("Form mounted");
      },
      onSubmit: async function (event) {
        event.preventDefault();
        
        const {
          paymentMethodId: payment_method_id,
          issuerId: issuer_id,
          cardholderEmail: email,
          amount,
          token,
          installments,
          identificationNumber,
          identificationType,
        } = cardForm.getCardFormData();
  
        const res = await fetch("/api/pagamento?format=json", {
          method: "POST",
          headers: {
            'X-CSRFToken': csrftoken,
            "Content-Type": "application/json",
          },
          body: JSON.stringify({
            token,
            issuer_id,
            payment_method_id,
            transaction_amount: Number(amount),
            installments: Number(installments),
            description: "Descrição do produto",
            payer: {
              email,
              identification: {
                type: identificationType,
                number: identificationNumber,
              },
            },
            id_reserva: document.getElementById(`id_reserva`).value,
          }),
        });
        // alert(res.data)
        console.log(res);
        const json = await res.json();
        let mensagem_de_erro = json.mensagem_de_erro;
        console.log(mensagem_de_erro);
        document.getElementById(`mensagem_de_erro`).value = mensagem_de_erro;
        // res.then(json => {
        //   // console.log(jsonCep);
        //   console.log('ENTROU');
        //   if (json != undefined) {
        //     document.getElementById(`mensagem_de_erro`).value = json.mensagem_de_erro;
        //     console.log('ENTROU2');
        //     console.log(json.mensagem_de_erro);
        //   }
        // });
        if (mensagem_de_erro == 'none' || mensagem_de_erro == '')
        document.forms['form-checkout'].submit();
        else{
          let element = document.getElementById(`mensagem_de_erro`);
          let mensagem = element.value;
          let caixa_alerta_erro = document.getElementById(`alerta_de_erro`);
          caixa_alerta_erro.style.display = 'block';          // Show
          caixa_alerta_erro.textContent = mensagem;
              
          /* if (mensagem != "" || mensagem != "none"){
              let caixa_alerta_erro = document.getElementById(`alerta_de_erro`);
              caixa_alerta_erro.style.display = 'block';          // Show
          }
          else
          caixa_alerta_erro.style.display = 'none'; */
        }
        // cardForm.submit();
        },
        onFetching: (resource) => {
        console.log("Fetching resource: ", resource);
  
        // Animate progress bar
        const progressBar = document.querySelector(".progress-bar");
        progressBar.removeAttribute("value");
  
        return () => {
          progressBar.setAttribute("value", "0");
        };
      },
    },
  });
</script>

<script>
  $(document).ready(function() {
      
      var navListItems = $('ul.setup-panel li a'),
          allWells = $('.setup-content');
  
      allWells.hide();
  
      navListItems.click(function(e)
      {
          e.preventDefault();
          var $target = $($(this).attr('href')),
              $item = $(this).closest('li');
          
          if (!$item.hasClass('disabled')) {
              navListItems.closest('li').removeClass('active');
              $item.addClass('active');
              allWells.hide();
              $target.show();
          }
      });
      
      $('ul.setup-panel li.active a').trigger('click');
      
      // DEMO ONLY //
      $('#activate-step-2').on('click', function(e) {
          $('ul.setup-panel li:eq(1)').removeClass('disabled');
          $('ul.setup-panel li a[href="#step-2"]').trigger('click');
          $(this).remove();
      })    
      $('#activate-step-3').on('click', function(e) {
  
          $('ul.setup-panel li:eq(2)').removeClass('disabled');
          $('ul.setup-panel li a[href="#step-3"]').trigger('click');
          $(this).remove();
          document.getElementById('form-checkout__submit').classList.remove('hide')
      })   
  });
  
  
  </script>

{% endblock js %}
