{% extends 'gere/template1/base.html' %}
{% load static %}
{% load i18n %}

{% block title %}{% translate "Escolher cadastro" %}{% endblock %}

{% block css %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"/>
<link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
{% endblock css %}

{% block content %}
    <div>
        <p>Nós enviamos um e-mail com as instruções para resetar sua senha, você deve recebe-lo em alguns instantes.</p>
        <p>Caso não tenha encontrado o e-mail, verifique a pasta de span ou se o e-mail informado está correto!</p>
    </div>
{% endblock content %}

{% block js %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% endblock js %}